.button-Pokemon {
  border: none;
  background-color: yellow;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 5px;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: green;
  color: white;
}
