
.button-Pokemon {
  border: none;
  background-color: yellow;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 5px;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: green;
  color: white;
}


.button-Pokemon:hover {
  background-color: red;
}

button:hover, button:focus, .button-Pokemon:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
